@import "./variables";
@import "./animations";
body {
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

@font-face {
  font-family: Dancing script;
  src: url("../assets/fonts/DancingScript-VariableFont_wght.ttf");
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  &--main {
    display: block;
    font-weight: 400;
    letter-spacing: 2.3rem;
    font-size: 5.2rem;
    animation-name: focus-when-display;
    animation-duration: 3.4s;
    animation-timing-function: ease-in-out;
  }
  &--sub {
    display: block;
    font-weight: 600;
    font-size: 2.5rem;
    letter-spacing: 1rem;
    margin-top: 4.3rem;
    animation-name: focus-when-display;
    animation-duration: 3.4s;
    animation-timing-function: ease-in-out;
  }
}

.heading-secondary {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 15%;
  left: 50%;
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  font-weight: 300;
  font-size: 4.1rem;
  letter-spacing: 0.5rem;
  font-family: Relaway;
}

.heading-name {
  position: absolute;
  top: 20%;
  left: 0%;
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  color: rgb(0, 0, 0);
  // font-family: Dancing script;
  font-family: Relaway;
}

.heading-about {
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.8rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  color: rgb(0, 0, 0);
  font-family: Dancing script;
}

.paragraph-opinions {
  color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
  font-size: 2.5rem;
  text-align: left;
  margin: 0 auto;
  font-weight: 300;
  font-family: Relaway;
}

.paragraph-about {
  color: rgb(95, 95, 95);
  position: absolute;
  top: 30%;
  right: 30%;
  font-size: 1.8rem;
  text-align: left;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  line-height: 1.55;
}
