@import "./variables";
@import "./mixins";
body {
    font-weight: 400;
    font-family: "Lato", sans-serif;
}

.heading-primary-main {
    color: $color-white;
    font-family: "Dancing Script", cursive;
    text-transform: uppercase;
    backface-visibility: hidden;
    font-weight: 600;
    letter-spacing: 0.7rem;
    font-size: 6.5rem;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 4rem;
    @include respond(tab-port) {
        font-size: 5rem;
    }
    @include respond(phone) {
        font-size: 3rem;
    }
}

.heading-primary-sub {
    position: absolute;
    width: 60%;
    padding: 0.5rem;
    color: $color-primary;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.5rem;
    font-size: 4.5rem;
    text-align: center;
    background-color: $color-white;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include respond(tab-port) {
        font-size: 3.2rem;
    }
    @include respond(phone) {
        font-size: 2rem;
    }
}

.heading-secondary {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    color: $color-details;
    text-transform: uppercase;
    backface-visibility: hidden;
    font-size: 5rem;
    letter-spacing: 1.5rem;
    text-align: center;
    padding-bottom: 15%;
    @include respond(phone) {
        font-size: 3.5rem;
        top: 15%;
    }
}

.heading-third {
    font-family: "Dancing Script", cursive;
    font-weight: 800;
    letter-spacing: 0.3rem;
    font-size: 4.5rem;
    text-align: center;
    color: $color-details;
    padding-bottom: 15rem;
}

.heading-aboutSection {
    font-family: "Dancing Script", cursive;
    letter-spacing: 0.4rem;
    font-size: 4.5rem;
    text-align: center;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 800;
    @include respond(phone) {
        font-size: 2.5rem; 
    }
}

.paragraph-about {
    font-weight: 800;
    color: $color-white;
    font-size: 1.7rem;
    text-align: left;
    line-height: 1.55;
    padding-bottom: 5rem;
    padding-right: 10rem;
    @include respond(tab-port) {
        width: 100%;
        padding: 4rem;
        font-size: 1.4rem;
    }
}

.paragraph-footer {
    color: $color-white;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: "Dancing Script", cursive;
    letter-spacing: 0.5rem;
}