@import "./variables";
@import "./animations";
body {
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.heading-primary-main {
  display: block;
  color: rgb(32, 32, 32);
  text-transform: uppercase;
  backface-visibility: hidden;
  font-weight: 300;
  letter-spacing: 0.3rem;
  font-size: 3.5rem;
  animation-name: focus-when-display;
  animation-duration: 3.4s;
  animation-timing-function: ease-in-out;
  font-family: "Dancing Script", cursive;
}

.heading-primary-sub {
  margin-top: 1rem;
  color: rgb(32, 32, 32);
  text-transform: uppercase;
  backface-visibility: hidden;
  font-family: "Dancing Script", cursive;
  display: block;
  font-weight: 300;
  font-size: 1.9rem;
  animation-name: focus-when-display;
  animation-duration: 3.4s;
  animation-timing-function: ease-in-out;
}

.heading-secondary {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 15%;
  left: 50%;
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  font-weight: 300;
  font-size: 4.1rem;
  letter-spacing: 0.5rem;
  font-family: Relaway;
}

.heading-about {
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.8rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  color: rgb(0, 0, 0);
  font-family: Dancing script;
}

.paragraph-opinions {
  color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
  font-size: 2.5rem;
  text-align: left;
  margin: 0 auto;
  font-weight: 300;
  font-family: Relaway;
}

// .paragraph-about {
// }
