.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 2.3s ease-out, transform 1.5s ease-out,
    visibility 1300ms ease-out;
  will-change: opacity, transform, visibility;
  &__is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
}
