@import "../../sass/mixins";
.hamburger {
  padding: 4rem;
  display: inline-block;
  background-color: transparent;
  border: 0;
  margin: 0;
  &__box {
    cursor: pointer;
    width: 3.5rem;
    height: 2.4rem;
    display: inline-block;
    position: relative;
  }
  &__inner {
    @include hamburger-line;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    &::before,
    &::after {
      @include hamburger-line;
      content: "";
      left: 0;
      transition: transform 0.1s 0.1s ease-in-out;
    }
    &::before {
      top: -1rem;
    }
    &::after {
      top: 1rem;
    }
  }
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner:before {
  transform: translateY(1rem) rotate(45deg);
}

.hamburger--active .hamburger__inner:after {
  transform: translateY(-1rem) rotate(-45deg);
}

.hamburger--active {
  transform: translateX(20rem);
}
