@import "../../sass/animations";
.toolbar {
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 0.5 1fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr;
  height: 20vh;
  top: 0%;
  left: 0%;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid #fff;
  overflow: hidden;
  z-index: 10;
  transition: all 0.3s ease-in;

  &__heading {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 2.5rem;
    display: inline-block;
    text-align: center;
    padding-top: 1rem;
    margin-left: 1rem;
  }
  &--sticky {
    position: fixed;
    grid-template-columns: 0.5 1fr 0.5fr;
    grid-template-rows: 0;
    background-color: rgb(255, 255, 255);
    transform: translateY(-10vh);
    border-bottom: 1px solid rgb(26, 26, 26);
    color: rgb(5, 5, 5);
  }
}
