@import "../../sass/variables";
@import "../../sass/mixins";
.toolbar {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 7vh;
    top: 0%;
    left: 0%;
    background-color: transparent;
    z-index: 10;
    transition: all 0.3s ease-in;
    &--sticky {
        position: fixed;
        box-shadow: 0 5px 20px -10px #000;
        background-color: $color-details;
    }
}