@import "../../sass/animations";
.toolbar {
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgb(255, 255, 255);
  padding: 2.5rem 0rem 2.5rem 0rem;
  z-index: 3;
  text-align: center;
  overflow: hidden;
  opacity: 0;
  &--show {
    // opacity: 1;
    position: fixed;
    animation: showToolbar 0.3s ease-in-out;
  }
}
