.about {
  padding: 4rem 0 30rem 0;
}

.box {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  &__of-picture {
    position: relative;
    top: 0;
    left: 5%;
    width: 50%;
    height: 50rem;
    &--1 {
      height: auto;
      max-width: 100%;
      background-size: auto, cover;
      object-fit: cover;
    }
  }
  &__of-text {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 80rem;
  }
}
