.about {
  padding: auto 20rem;
  position: relative;
  top: 0;
  left: 0;
}

.box {
  display: flex;
  flex-direction: row;
  height: 60rem;
  &__of-picture {
    width: 50%;
    background-color: #f2f2f2;
  }
  &__of-text {
    background-color: #f2f2f2;
    width: 50%;
  }
}
