@import "../../../sass/variables";
@import "../../../sass/mixins";
.inputItem {
    position: relative;
    width: 100%;
    margin: 2.5rem 0 5rem;
}

input {
    width: 100%;
    padding: 1.5rem 3rem;
    background: $color-white;
    border: 2px solid $color-details;
    border-radius: 0.4rem;
    resize: none;
    color: $color-details;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: border 0.2s ease-in-out;
    &::placeholder {
        color: $color-details;
    }
    &:focus {
        border: 4px solid $color-primary;
    }
}

label {
    position: absolute;
    top: -2.3rem;
    left: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: $color-primary;
}