.container {
  margin-top: 0.3rem;
  width: 100%;
  height: auto;
  display: grid;
  grid-gap: 0.3rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  .box {
    width: 30rem;
    height: 25rem;
    position: relative;
    cursor: pointer;
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all 0.8s ease-out;
    }
    &:hover::before {
      background-color: rgba(0, 0, 0, 0.698);
    }
  }
  .box:hover::before {
  }

  .con-text {
    position: absolute;
    color: white;
    bottom: 0;
    width: 270px;
    height: 250px;
    padding: 75px 25px;
    display: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .box:hover .con-text {
    display: block;
  }
}
