.navItems {
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  grid-column: 2;
  grid-row: 2;

  &__item {
    color: #fff;
    font-weight: 400;
    text-transform: none;
    font-size: 1.3rem;
    cursor: pointer;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }
  &__sticky {
    color: rgb(0, 0, 0);
    transform: translateY(5vh);
  }
}
