@import "../../sass/mixins";
.navItems {
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  grid-column: 2;
  opacity: 1;
  grid-row: 2;
  &__item {
    padding: 0rem 6rem;
    color: #fff;
    font-weight: 600;
    text-transform: none;
    font-size: 1.3rem;
    cursor: pointer;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }
  &__sticky {
    color: rgb(0, 0, 0);
    transform: translateY(5.5vh);
  }
  @include respond(tab-land) {
    opacity: 0;
    display: none;
  }
}
