@import "../../../sass/variables";
.sideDrawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20rem;
  background-color: $color-primary;
  z-index: 200;
  transform: translateX(-20rem);
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
  &__list {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    margin-top: 10rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.2rem;
    &--item {
      margin-bottom: 3rem;
      padding: 1rem;
      padding-left: 4rem;
    }
  }
  &__Open {
    transform: translateX(0);
  }
  &__Close {
    transform: translateX(-20rem);
  }
}
